﻿@using DueMetri.Activities.Permissions
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions
@model DueMetri.Activities.ViewModels.ActivityIndexViewModel
@{
    var pageSizes = new List<int?>{10, 50, 100};
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize)) {
        pageSizes.Add(defaultPageSize);
    }
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
}


@*System.Globalization.CultureInfo.CurrentCulture*@
@*WorkContext.CurrentCulture*@

<h1>@Html.TitleForPage(T("Activity list").Text) </h1>
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()

    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.ActionLink(@T("Title").Text, "List", new{sortOrder = ViewBag.TitleSortParm})
                    </th>
                    <th scope="col">
                        @Html.ActionLink(@T("From").Text, "List", new{sortOrder = ViewBag.FromSortParm})
                    </th>
                    <th scope="col">
                        @Html.ActionLink(@T("To").Text, "List", new{sortOrder = ViewBag.ToSortParm})
                    </th>
                    <th scope="col">@T("Url")</th>
                    <th scope="col">@T("Category")</th>
                    <th scope="col">
                        @Html.ActionLink(@T("Show in home").Text, "List", new{sortOrder = ViewBag.ShowInHomeParm})
                    </th>
                    <th scope="col" class="actions">&nbsp;</th>
                </tr>
            </thead>
            @foreach (var source in Model.Activities) {
                if (source is IContent) {
                    <tr>
                        <td>
                            @Html.ItemEditLinkWithReturnUrl(source.Title, source)
                        </td>
                        <td>
                            @source.DateTimeStart.ToShortDateString()
                        </td>
                        <td>
                            @source.DateTimeEnd.ToShortDateString()
                        </td>
                        <td>
                            @source.Url
                        </td>
                        <td>
                            @source.Category
                        </td>
                        <td>
                            @(source.ShowInHome ? T("Yes") : T("No"))
                        </td>
                        <td>
                            @Html.Link(T("Delete").Text, Url.ItemRemoveUrl(source, new{returnUrl}), new{itemprop = "RemoveUrl UnsafeUrl"})
                        </td>
                    </tr>
                }
            }
        </table>
        @Display(Model.Pager)
    </fieldset>
}
@if (Authorizer.Authorize(ActivityPermissions.ManageActivity)) {
    <div>
        @Html.ActionLink(T("Create new").Text, "Create", null, new{@class = "button primaryAction"})
    </div>
}
