﻿@model DynamicsCRMWebPortal.Models.OpportunityModel
@{
    ViewBag.Title = "Create Opportunity";
}


<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMOpportunityForm">
    @using (Html.BeginForm("Create", "Opportunity", FormMethod.Post, new {ViewBag.ReturnUrl, enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <table style="width:50%;line-height:25px">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Contact, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @if (Model != null && Model.Contact != null)
                {
                        @Html.DropDownListFor(m => m.ContactId, Model.Contact,new { Style = "width:100%;height:30px" })
                }
                    @Html.ValidationMessageFor(m => m.ContactId)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(m => m.Topic, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.Topic, new { Style = "width:98%" })
                    @Html.ValidationMessageFor(m => m.Topic)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.PurchaseTimeframe, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.DropDownListFor(
                m => m.PurchaseTimeframe,
                new[] {
                new SelectListItem {Value = "0", Text = "Immediate"},
                new SelectListItem {Value = "1", Text = "This Quarter"},
                new SelectListItem {Value = "2", Text = "Next Quarter"},
                new SelectListItem {Value = "3", Text = "This Year"},
                new SelectListItem {Value = "4", Text = "UnKnown"}, 
                
                },
         new { Style = "width:100%;height:30px" }
                )
                    @Html.ValidationMessageFor(m => m.PurchaseTimeframe)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.BudgetAmount, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.BudgetAmount, new { Style = "width:98%" })
                    @Html.ValidationMessageFor(m => m.BudgetAmount)
                </td>
            </tr>

            <tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.PurchaseProcess, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.DropDownListFor(
                m => m.PurchaseProcess,
                new[] {
                new SelectListItem {Value = "0", Text = "Individual"},
                new SelectListItem {Value = "1", Text = "Commitee"},
                new SelectListItem {Value = "2", Text = "Unknown"}

                },
         new { Style = "width:100%;height:30px" }
                )
                    @Html.ValidationMessageFor(m => m.PurchaseProcess)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Description, new { Style = "color:#3c948b;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.Description, new { Style = "width:98%" })
                    @Html.ValidationMessageFor(m => m.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <button name="button" style="margin-top:20px;height:33px;color:whitesmoke;background:#3c948b !important;border-radius:5px;" value="create">Create</button>&nbsp;&nbsp;
                    <button name="button" style="margin-top:20px;height:33px;color:whitesmoke;background:#3c948b !important;border-radius:5px;" value="cancel">Cancel</button>
                </td>
            </tr>

        </table>
       
        }
</section>


