﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.OpportunityModel
@{
    ViewBag.Title = "CRM Opportunities";
} 
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery.jqGrid.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/grid.locale-en.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script>

<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Opportunity.js"></script>
<div> 
    <span style="font-size: medium">@Html.ActionLink("Back", "index","home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index","Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index","Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index","Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index","Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index","Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index","Calendar") ||</span> 
    <span style="font-size: medium">@ViewBag.Title >></span>
    <a   style="font-size: medium" onclick="openOpportunity()">Add New Opportunity</a>
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green; font-size:small;font-family: 'MuseoSans_xFat'; font-weight: bold" id="spanMsg"></span>
    
</div>
<hr />
 
<div>
    <table id="grid"></table>

    <div id="pager"></div>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
}

<div id="editOpportunityDlg" style="display: none">
    <input id="OpportunityId" name="OpportunityId" type="hidden" />
    <table style="width: 535px; line-height: 25px">
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="Topic">Topic</label>
                <input style="width: 180px" id="Topic" maxlength="300" name="Topic" type="text" />

            </td>

            <td>
                <label style="color: black; font-weight: bold" for="PurchaseTimeframe">Purchase Timeframe</label>
                <select style="width: 180px;"  id="PurchaseTimeframe" name="PurchaseTimeframe">
                    <option value="-1">Select</option>
                    <option value="0">Immediate</option>
                    <option value="1">This Quarter</option>
                    <option value="2">Next Quarter</option>
                    <option value="3">This Year</option>
                    <option value="4">UnKnown</option>
                </select>

            </td>
        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="BudgetAmount">Budget Amount($)</label>
                <input style="width: 180px" id="BudgetAmount" maxlength="12" name="BudgetAmount" type="text" />

            </td>

            <td>
                <label style="color: black; font-weight: bold" for="PurchaseProcess">Purchase Process</label>
                <select style="width: 180px;"  id="PurchaseProcess" name="PurchaseProcess">
                    <option value="-1">Select</option>
                    <option value="0">Individual</option>
                    <option value="1">Commitee</option>
                    <option value="2">Unknown</option>
                </select>


            </td>

        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="Description">Description</label>
                <input style="width: 180px" id="Description" name="Description" maxlength="2000" type="text" />

            </td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td style="text-align: right">
                <input type="button" id="btnCreateOpportunity" onclick="CreateOpportunity()" class="ui-button-text"  value="Create"/>&nbsp;&nbsp;
                <input type="button" id="btnUpdateOpportunity" onclick="UpdateOpportunityDetails()" class="ui-button-text"  value="Update"/>&nbsp;&nbsp;
                     &nbsp;
                    <input type="button" id="btnCancel" onclick="ClosePopup()" value="Cancel" class="ui-button-text"  name="button"  /></td>
            
        </tr>
        <tr>
            <td colspan="2" id="errorMsg" style="display:none"></td>
        </tr>


    </table>
</div>
