﻿@using System.Globalization
@using Xrm
@model DynamicsCRMWebPortal.Models.OpportunityModel
@{
    ViewBag.Title = "Update Opportunity"; 
} 

<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null)
    {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<link href="~/Modules/DynamicsCRMWebPortal/Styles/themes/base/jquery-ui.css" rel="stylesheet" /> 
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>  
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui-1.10.4.js"></script> 
<script>
    //function UpdateOpportunityDetails() {
    //    $.ajax({
    //        url: '/DynamicsCRMWebPortal/Opportunity/Update',
    //        type: 'POST',
    //        data: JSON.stringify( {
    //            Name: $('#Name').val(),
    //            BudgetAmount: $('#BudgetAmount').val(),
    //            Description: $('#Description').val(),
    //            PurchaseTimeframe: $('#PurchaseTimeframe').val(),
    //            PurchaseProcess: $('#PurchaseProcess').val(),
    //            OpportunityId: $('#OpportunityId').val()
    //        }),
    //        success: function (json) {
    //            $('#editOpportunityDlg').dialog('close');
    //            //$('#NewValue').val(json.newValue);
    //        } 

    //    });
    //    return false;
    //}
    //function ClosePopup() {
    //    $('#editOpportunityDlg').dialog('close');
    //}

</script>
<div id="ajaxReplace">
@using (Ajax.BeginForm("Update", "Opportunity", null, new AjaxOptions { UpdateTargetId = "ajaxReplace"  }))
 {
@*@using (Html.BeginForm("Update", "Opportunity", FormMethod.Post, new { ViewBag.ReturnUrl, enctype = "multipart/form-data" , id="frmOpportunity"}))
    {*@
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.OpportunityId) 

        <table style="width: 500px; line-height: 25px">

            <tr>
                <td>@Html.LabelFor(m => m.Topic, new { Style = "color:black;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.Topic, new { Style="width:180px"})
                    @Html.ValidationMessageFor(m => m.Topic)
                </td>

                <td>@Html.LabelFor(m => m.PurchaseTimeframe, new { Style = "color:#black;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.DropDownListFor(
                m => m.PurchaseTimeframe, 
                new[] {
                new SelectListItem {Value = "0", Text = "Immediate"},
                new SelectListItem {Value = "1", Text = "This Quarter"},
                new SelectListItem {Value = "2", Text = "Next Quarter"},
                new SelectListItem {Value = "3", Text = "This Year"},
                new SelectListItem {Value = "4", Text = "UnKnown"}
                
                },
         new { Style = "width:180px;height:30px" }
                )
                    @Html.ValidationMessageFor(m => m.PurchaseTimeframe)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.BudgetAmount, new { Style = "color:black;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.BudgetAmount,new { Style="width:180px"})
                    @Html.ValidationMessageFor(m => m.BudgetAmount)
                </td>

                <td>@Html.LabelFor(m => m.PurchaseProcess, new { Style = "color:black;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.DropDownListFor(
                m => m.PurchaseProcess,
                new[] {
                new SelectListItem {Value = "0", Text = "Individual"},
                new SelectListItem {Value = "1", Text = "Commitee"},
                new SelectListItem {Value = "2", Text = "Unknown"},

                },
         new { Style = "width:180px;height:30px" }
                )

                    @Html.ValidationMessageFor(m => m.PurchaseProcess)
                </td>

            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description, new { Style = "color:black;font-family: 'MuseoSans_xFat';font-weight:bold" })
                    @Html.TextBoxFor(m => m.Description, new { Style = "width:180px" })
                    @Html.ValidationMessageFor(m => m.Description)
                </td>
                <td></td>

            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <input type="button" name="button"  style="margin-top: 20px; height: 33px; color: whitesmoke; background: gray !important; border-radius: 5px;" value="Update"></input>&nbsp;&nbsp;
                     &nbsp;&nbsp; 
                    <input type="button" id="btnCancel" value="Cancel"   name="button" style="margin-top: 20px; height: 33px; color: whitesmoke; background: gray !important; border-radius: 5px; "></input></td>
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            </tr>


        </table>
}
 


