﻿@model dsc.CalendarWidget.Models.CalendarEventDefinition

@using dsc.CalendarWidget.Models;
@using Orchard.Projections.Models;
@using Orchard.ContentManagement;

<fieldset>
    @Html.LabelFor(m => m.TimeZone, T("Time Zone"))
    @Html.DisplayFor(m => m.TimeZone)

    @Html.LabelFor(m => m.StartDateTime, T("Start date and time"))
    @Html.TextBoxFor(m => m.StartDateTime, "{0:g}", new { @class = "text large", autofocus = "autofocus" })
    <span class="hint">@T("Enter the start date and time for the event")</span>

    @Html.LabelFor(m=>m.EndDateTime, T("End date and time"))
    @Html.TextBoxFor(m => m.EndDateTime, "{0:g}", new { @class = "text large"})
    <span class="hint">@T("Enter the end date and time for the event")</span>

    @Html.LabelFor(m => m.IsAllDay, T("All day"))
    @Html.CheckBoxFor(m => m.IsAllDay @*, new { @class = "text large" }*@)
    <span class="hint">@T("Check if the event lasts all day")</span>

    @Html.LabelFor(m => m.Url, T("Url"))
    @Html.TextBoxFor(m => m.Url, new { @class = "text large" })
    <span class="hint">@T("Enter the URL for the event | EDIT for item edit url | VIEW for item view url")</span>
</fieldset>
