﻿@{
    Style.Include("fullcalendar.css");
    Script.Require("jQuery");
    Script.Include("fullcalendar.min.js");

    using (Script.Foot()) {
        <script type="text/javascript">
        //<![CDATA[
            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    editable: false,
                    selectable: true,
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'year,month'
                    },
                    defaultView: 'year',
                    events: '@Url.Action("GetActivities", "Activity", new{area = "DueMetri.Activities"})',
                    loading: function(bool) {
                        if (bool) $('#loading').show();
                        else $('#loading').hide();
                    },
                    eventRender: function(event, element) {
                        element.attr('title', event.title);
                    }
                });
            });
        //]]>
    </script>
    }
}
<style>
    #loading {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #calendar {
        width: 100%;
        margin: 0 auto;
    }
</style>
<div id='loading' style='display: none'>loading...</div>
<div id='calendar'></div>
