﻿@model DynamicsCRMWebPortal.Models.OrderModel
@{
    ViewBag.Title = "Create Order";
}

<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMOrderForm">
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Customers)
                    @if (Model != null && Model.Customers != null) {
                        @Html.DropDownListFor(m => m.CustomerId, Model.Customers)
                    }
                    @Html.ValidationMessageFor(m => m.CustomerId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new {style = "width:100%;height:100px;"})
                    @Html.ValidationMessageFor(m => m.Description)
                </td>
            </tr>          
            <tr>
                <td>
                    <button name="button" value="update">Create</button>&nbsp;&nbsp;
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>
        </table>
    }
 
</section>