﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.OrderModel
@{
    ViewBag.Title = "CRM Orders";
}
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery.jqGrid.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/grid.locale-en.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Order.js"></script>
<div> 
    <span style="font-size: medium">@Html.ActionLink("Back", "index","home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index","Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index","Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index","Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index","Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index","Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index","Calendar") ||</span> 
    <span style="font-size: medium">@ViewBag.Title >></span>
    <a   style="font-size: medium" onclick="openOrder()">Add New Order</a>
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green; font-size:small;font-family: 'MuseoSans_xFat'; font-weight: bold" id="spanMsg"></span>
    
</div>
<hr /> 
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
@using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()  
<div id="editOrderDlg" style="display: none">
    <input id="OrderId" name="OrderId" type="hidden" />
    <table style="width: 350px;">
        <tr>
            <td>@if (Model != null && Model.Customers != null) {
                <label style="color: black; font-weight: bold" for="Customers">Customers</label>

                @Html.DropDownListFor(m => m.CustomerId, Model.Customers,new {width= "180px",id="CustomerId"})
                    } 
            </td>
        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="Description">Description</label>
                <textarea style="width: 315px;" id="Description" maxlength="2000" name="Description"  rows="5" cols="100"></textarea>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <input type="button" id="btnCreateOrder" onclick="CreateOrder()" class="ui-button-text" value="Create"/>&nbsp;&nbsp;
                <input type="button" id="btnUpdateOrder" onclick="UpdateOrder()" class="ui-button-text" value="Update"/>&nbsp;&nbsp;
                     &nbsp;
                    <input type="button" id="btnCancel" onclick="ClosePopup()" value="Cancel" class="ui-button-text" name="button"/></td>

        </tr>
        <tr>
            <td colspan="2" id="errorMsg" style="display:none"></td>
        </tr>


    </table>
</div>
}