﻿@using System.Globalization
@using Xrm
@model DynamicsCRMWebPortal.Models.OrderUpdateModel
@{
    ViewBag.Title = "Update Order";
}

<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMOrderForm">
    @using (Html.BeginForm("Update", "Order", FormMethod.Post, new {ViewBag.ReturnUrl, enctype = "multipart/form-data"})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.OrderId)
        @Html.HiddenFor(m => m.CustomerName)
        @Html.HiddenFor(m => m.OrderStatus)

        <table style="width: 100%;">
            <tr>
                <td>
                    <b>Customer Name:</b> @Model.CustomerName
                </td>
            </tr>
            <tr>
                <td>
                    <b>Order Status:</b> @Model.OrderStatus
                </td>
            </tr>
            <tr>
                <td>
                    <b>Description:</b>
                    @if (Model.OrderStatus == "New") {
                        @Html.TextAreaFor(m => m.Description)
                    }
                    else {
                        @Html.TextAreaFor(m => m.Description, new {@disabled = "true"})
                    }
                    @Html.ValidationMessageFor(m => m.Description)
                </td>
            </tr>  
            @if (ViewData["notes"] != null) {
                <tr>
                    <td><b>Notes History:</b></td>
                </tr>

                var notes = (List<Annotation>) ViewData["notes"];
                foreach (var note in notes) {
                    <tr>
                        <td><u>@(note.ModifiedBy.Name == "CRM Service" ? "You" : note.ModifiedBy.Name) - @note.ModifiedOn.Value.ToString(CultureInfo.InvariantCulture)</u></td>
                    </tr>
                    <tr>
                        <td>|_ @note.NoteText</td>     
                    </tr>
                    <tr>
                        @if (note.FileName != null) {
                            <td>Attachment: @Html.ActionLink(note.FileName, "NoteAttachment", new {incidentId = Model.OrderId, noteId = note.Id.ToString()}) </td>
                        }        
                    </tr>
                }
            }
            <tr>
                <td>
                    <b>Add new note: </b>
                    @Html.TextAreaFor(m => m.Note, new {style = "width:100%;height:100px;"})
                    @Html.ValidationMessageFor(m => m.Note)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Attachment: </b>
                    <input type="file" name="file" style="width: 100%;"/>
                </td>
            </tr>
            <tr>
                <td>                    
                    <button name="button" value="update">Update</button>&nbsp;&nbsp;
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>
        </table>
    }
 
</section>