﻿@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@{
    DocumentPart documentPart = Model.ContentPart;
    var mediaPart = ((ContentItem)Model.ContentItem).As<MediaPart>();
}

 @*<script type="text/javascript">
            window.location.href="@mediaPart.MediaUrl"
</script>*@
<a href="@mediaPart.MediaUrl" target="_blank"><strong>
    @T(mediaPart.Title)</strong>
</a> 