﻿@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@{
    DocumentPart documentPart = Model.ContentPart;
    var mediaPart = ((ContentItem)Model.ContentItem).As<MediaPart>();
    var url = HttpContext.Current.Request.RawUrl;
    var mediaUrl = mediaPart.MediaUrl;
}

@if(url.Contains("Contents/Item/Display")){
    <script type="text/javascript">
        window.open("@mediaUrl","_parent")
    </script>
    
}else{
    <a href="@mediaPart.MediaUrl">
        <img src='@Href("~/Core/Shapes/Styles/Images/download.png")' alt="Download" />
        @T("Download")
    </a>
}