﻿@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@{
    DocumentPart documentPart = Model.ContentPart;
    var mediaPart = ((ContentItem)Model.ContentItem).As<MediaPart>();
}

<a href="@mediaPart.MediaUrl">
      <img src='@Href("~/Core/Shapes/Styles/Images/download.png")' alt="Download" />
    <span>@T("Download")</span>
</a>