﻿@model DynamicsCRMWebPortal.Models.CaseModel
@{
    ViewBag.Title = "Create Case";
}
<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMCaseForm">
    @using (Html.BeginForm("Create", "Case", FormMethod.Post, new {ViewBag.ReturnUrl, enctype = "multipart/form-data"})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CaseType)
                    @Html.DropDownListFor(
                        m => m.CaseType,
                        new[] {
                            new SelectListItem {Value = "1", Text = "Question"},
                            new SelectListItem {Value = "2", Text = "Problem"},
                            new SelectListItem {Value = "3", Text = "Request"}
                        }
                         )
                    @Html.ValidationMessageFor(m => m.CaseType)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Description)
                    @Html.TextAreaFor(m => m.Description, new {style = "width:100%;height:100px;"})
                    @Html.ValidationMessageFor(m => m.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <button name="button" value="create">Create</button>&nbsp;&nbsp;
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>
        </table>
    }

</section>