﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.CaseModel
@{
    ViewBag.Title = "My CRM Cases";
}
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery.jqGrid.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/grid.locale-en.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Case.js"></script>

<div>

    <span style="font-size: medium">@Html.ActionLink("Back", "index", "home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index", "Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index", "Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index", "Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index", "Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index", "Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index", "Calendar") ||</span>
    <span style="font-size: medium">@ViewBag.Title >></span>
    <a style="font-size: medium" onclick="openCase()">Add New Case</a>
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green; font-family: 'MuseoSans_xFat'; font-weight: bold; font-size:small" id="spanMsg"></span>

</div>
<hr />
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
<div id="editCaseDlg" style="display: none">
    <input id="IncidentId" name="IncidentId" type="hidden" />
    <input id="Ticketnumber" name="TicketNumber" type="hidden" />
    <table style="width: 300px; line-height: 25px">
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="Title">Title</label>
                <input style="width: 250px" id="Title" name="Title" maxlength="200" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="CaseType">Case Type</label>
                <select style="width: 260px;" id="CaseType" name="CaseType">
                    <option value="-1">Select</option>
                    <option value="1">Question</option>
                    <option value="2">Problem</option>
                    <option value="3">Request</option>

                </select>

            </td>
        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="Description">Description</label>
                <input style="width: 250px" id="Description" maxlength="2000" name="Description" type="text" />

            </td>

        </tr>
        
        <tr id="lstModified">
            <td>
                <label style="color: black; font-weight: bold" for="LastModified">Last ModifiedOn</label>
                <u><span id="LastModified"></span></u>

            </td>
        </tr>
        <tr id="lstAttachment">
            <td>
                <label style="color: black; font-weight: bold" for="Attachment">Last Attachment</label>
                <span id="NoteAttachment"></span>
            </td>
        </tr>

        <tr>
            <td>
                <label style="color:black;font-weight: bold" for="Notes">Add new note</label>
                <textarea style="width:260px" id="Notes" maxlength="2000" name="notes"></textarea>
            </td>
        </tr>
        @*<tr>
            <td>
                <label style="color:black;font-weight: bold" for="Attachment">Attachment</label>
                <input type="file" id="NotesFile" name="NotesFile" style="width:260px;" />
            </td>
        </tr>*@
        <tr>

            <td style="text-align: right">
                <input type="button" id="btnCreateCase" onclick="CreateCase()" class="ui-button-text" value="Create"/>&nbsp;&nbsp;
                <input type="button" id="btnUpdateCase" onclick="UpdateCase()" style="display: none" class="ui-button-text" value="Update"/>&nbsp;&nbsp;
                <input type="button" id="btnCancel" onclick="ClosePopup()" value="Cancel" name="button" class="ui-button-text"/>
            </td>

        </tr>
        <tr>
            <td colspan="2" id="errorMsg" style="display:none"></td>
        </tr>
    </table>
</div>
