﻿@using System.Globalization
@using Xrm
@model DynamicsCRMWebPortal.Models.CaseUpdateModel
@{
    ViewBag.Title = "Update Case";
}
<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMCaseForm">
    @using (Html.BeginForm("Update", "Case", FormMethod.Post, new {ViewBag.ReturnUrl, enctype = "multipart/form-data"})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.IncidentId)
        @Html.HiddenFor(m => m.TicketNumber)
        <table style="width: 100%;">
            <tr>
                <td><b>Case ID:</b> @Model.TicketNumber</td>
            </tr>
            <tr>
                <td><b>Case Title:</b> @Model.Title</td>
            </tr>
            <tr>
                <td><b>Case Status:</b> @Model.CaseStatus</td>
            </tr>
            <tr>
                <td><b>Description:</b> @Model.Description</td>
            </tr>
            <tr>
                <td><b>Notes History:</b></td>
            </tr>
            @if (ViewData["notes"] != null) {
                var notes = (List<Annotation>) ViewData["notes"];
                foreach (var note in notes) {
                    <tr>
                        <td><u>@(note.ModifiedBy.Name == "CRM Service" ? "You" : note.ModifiedBy.Name) - @note.ModifiedOn.Value.ToString(CultureInfo.InvariantCulture)</u></td>
                    </tr>
                    <tr>
                        <td>|_ @note.NoteText</td>
                    </tr>
                    <tr>   
                        @if (note.FileName != null) {
                            <td>Attachment: @Html.ActionLink(note.FileName, "NoteAttachment", new {incidentId = Model.IncidentId, noteId = note.Id.ToString()}) </td>
                        }        
                    </tr>
                }
            }
            <tr>
                <td>
                    <b>Add new note: </b>
                    @Html.TextAreaFor(m => m.Note, new {style = "width:100%;height:100px;"})
                    @Html.ValidationMessageFor(m => m.Note)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Attachment: </b>
                    <input type="file" name="file" style="width: 100%;"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button name="button" value="update">Update</button>&nbsp;&nbsp;
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>
        </table>
    }

</section>