﻿<h1>@Html.TitleForPage(T("Create a New Account").ToString())</h1>
<p>@T("Use the form below to create a new account.")</p>
<p>@T("Passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>
@Html.ValidationSummary(T("Account creation was unsuccessful. Please correct the errors and try again.").ToString()) 
@using (Html.BeginFormAntiForgeryPost(Url.Action("Register", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div>
            <label for="username" style="width: 200px; text-align: right ">@T("Username:")</label>
            @Html.TextBox("username") 
            @Html.ValidationMessage("username") 
        </div>
        <div>
            <label for="email" style="width: 200px; text-align: right ">@T("Email:")</label>
            @Html.TextBox("email") 
            @Html.ValidationMessage("email") 
        </div>
        <div>
            <label for="password" style="width: 200px; text-align: right ">@T("Password:")</label>
            @Html.Password("password") 
            @Html.ValidationMessage("password") 
        </div>
        <div>
            <label for="confirmPassword" style="width: 200px; text-align: right ">@T("Confirm password:")</label>
            @Html.Password("confirmPassword") 
            @Html.ValidationMessage("confirmPassword") 
        </div>
        <div >
            <button class="primaryAction" type="submit">@T("Register")</button>
        </div>
    </fieldset>
 } 