﻿<ul class="menu menu-main-menu">
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Account">Profile</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Opportunity">Opportunities</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Case">Cases</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Customer">Customer</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Order">Order</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Articles">Articles</a>
    </li>
    <li>
        <a href="/OrchardPortal/DynamicsCRMWebPortal/Articles">Calender</a>
    </li>
</ul>
