﻿@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox();
        $('.fancybox-media')
                    .attr('rel', 'media-gallery')
                    .fancybox({
                        openEffect: 'none',
                        closeEffect: 'none',
                        prevEffect: 'none',
                        nextEffect: 'none',
                        padding: '0px',
                        arrows: false,
                        helpers: {
                            media: {},
                            buttons: {}
                        }
                    });
    });
	</script>

@{
    //Every time you publish add one to this number, Trick!!!
    var cachingVersion = 1;

    using (Script.Head())
    {
        //Google Font Open Sans
        <!--script type="text/javascript" async>WebFontConfig = { google: { families: ["Open+Sans:400,700,300:greek,latin"] } }, function () { var e = document.createElement("script"); e.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js", e.type = "text/javascript", e.async = "true"; var t = document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e, t) }();</script -->
        //Main CSS
        <link href="/Modules/Orchard.DesignerTools/Styles/orchard-designertools-shapetracing.css" rel="stylesheet" type="text/css" />
        <link href="/Modules/Orchard.DesignerTools/styles/CodeMirror/codemirror.css" rel="stylesheet" type="text/css" />
        <link href="/Modules/Orchard.DesignerTools/styles/CodeMirror/razor.css" rel="stylesheet" type="text/css" />
        <link href="/Modules/Orchard.DesignerTools/styles/CodeMirror/javascript.css" rel="stylesheet" type="text/css" />
        <link href="/Modules/Orchard.DesignerTools/styles/CodeMirror/css.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/css/main.css?version=" + cachingVersion))" rel="stylesheet" type="text/css">
        <link href="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/css/jquery.fancybox.css?version=2.1.5"))" rel="stylesheet" type="text/css">
        <link href="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/css/site.css"))" rel="stylesheet" type="text/css">
        <link href="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/css/ace.css"))"  rel="stylesheet" class="ace-main-stylesheet" id="main-ace-style" />
        <script src="/Modules/Orchard.Resources/scripts/jquery.min.js" type="text/javascript"></script>
        <script src="/Modules/Orchard.Resources/scripts/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/Modules/Orchard.DesignerTools/scripts/orchard-designertools-shapetracing.js" type="text/javascript"></script>
        <script src="/Modules/Orchard.DesignerTools/scripts/jquery.scrollTo-1.4.4.min.js" type="text/javascript"></script>
        <script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/js/dist/main.js?version=" + cachingVersion))" type="text/javascript" async></script> 
        <script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/js/dist/jquery.fancybox.js?version=2.1.5"))" type="text/javascript" async></script>
        <script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/js/dist/helpers/jquery.fancybox-media.js?version=1.0.6"))" type="text/javascript" async></script>
        <script src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/js/dist/ace.js"))" type="text/javascript" async></script>
    }
 
    //If browser less than Internet Explorer 9
    Script.Require("Html5Shiv").UseCondition("lt IE 9").AtHead();

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/
    WorkContext.Layout.Footer.Add(New.SiteFooter(), "999"); // Copyright

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
@if (Model.Header != null)
{
    <header id="layout-header" class="group">
        <div id="header">
            @Zone(Model.Header)
        </div>
    </header>
}
@if (Model.Navigation != null)
{
    <div id="layout-navigation" class="group">
        @Zone(Model.Navigation)
    </div>
}
@if (Model.BeforeMain != null)
{
    <div id="layout-before-main" class="group">
        @Zone(Model.BeforeMain)
    </div>
}
@if (Model.Featured != null)
{
    <div id="layout-featured" class="group">
        @Zone(Model.Featured)
    </div>
}
<div id="layout-main-container">
    <div id="layout-main" class="group">
        @if (Model.AsideFirst != null)
        {
            <aside id="aside-first" class="aside-first group">
                @Zone(Model.AsideFirst)
            </aside>
        }
        <div id="layout-content" class="group">
            @if (Model.Messages != null)
            {
                <div id="messages">
                    @Zone(Model.Messages)
                </div>
            }
            @if (Model.BeforeContent != null)
            {
                <div id="before-content">
                    @Zone(Model.BeforeContent)
                </div>
            }
            @* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
            @if (Model.Content != null)
            {
                <div id="content" class="group">
                    @Zone(Model.Content)
                </div>
            }
            @if (Model.AfterContent != null)
            {
                <div id="after-content">
                    @Zone(Model.AfterContent)
                </div>
            }
        </div>
        @if (Model.AsideSecond != null)
        {
            <aside id="aside-second" class="aside-second">
                @Zone(Model.AsideSecond)
            </aside>
        }
    </div>
</div>
@if (Model.AfterMain != null)
{
    <div id="layout-after-main" class="group">
        @Zone(Model.AfterMain)
    </div>
}
@if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
{
    <div id="layout-tripel-container">
        <div id="layout-tripel" class="group">
            @if (Model.TripelFirst != null)
            {
                <div id="tripel-first">
                    @Zone(Model.TripelFirst)
                </div>
            }
            @if (Model.TripelSecond != null)
            {
                <div id="tripel-second">
                    @Zone(Model.TripelSecond)
                </div>
            }
            @if (Model.TripelThird != null)
            {
                <div id="tripel-third">
                    @Zone(Model.TripelThird)
                </div>
            }
        </div>
    </div>
}
<div id="layout-footer" class="group">
    <footer id="footer">
        <div id="footer-quad" class="group">
            @if (Model.FooterQuadFirst != null)
            {
                <div id="footer-quad-first">
                    @Zone(Model.FooterQuadFirst)
                </div>
            }
            @if (Model.FooterQuadSecond != null)
            {
                <div id="footer-quad-second">
                    @Zone(Model.FooterQuadSecond)
                </div>
            }
            @if (Model.FooterQuadThird != null)
            {
                <div id="footer-quad-third">
                    @Zone(Model.FooterQuadThird)
                </div>
            }
            @if (Model.FooterQuadFourth != null)
            {
                <div id="footer-quad-fourth">
                    @Zone(Model.FooterQuadFourth)
                </div>
            }
        </div>
        @if (Model.Footer != null)
        {
            <div id="footer-sig" class="group">
                @Zone(Model.Footer)
            </div>
        }
    </footer>
</div>
@tag.EndElement