﻿@using Orchard.AuditTrail.Helpers

@{
   /* var eventData = (IDictionary<string, object>) Model.EventData;
    var roleName = eventData.Get<string>("RoleName");
    var permissionName = eventData.Get<string>("PermissionName");*/
    // Model is Model.Menu from the layout (Layout.Menu)
    Model.Classes.Add("nav navbar-nav");
    var tag = Tag(Model, "ul");

    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Model.Items);

    if (items.Any()) {
        items[0].Classes.Add("first");
        items[items.Count - 1].Classes.Add("last");
    }    
   var url = HttpContext.Current.Request.RawUrl;
}

 
<table style="width: 100%">
<tr>
  <td style="width: 12.8%">
<img src="@Href("~/Core/Shapes/Styles/Images/header3.png")"  alt="Bankers" /></td>
<td style="text-align:center;  background: linear-gradient(to left,#cfe2f3, #ffffff);vertical-align: middle;width: 87.2%">
    
        <!--<span class="user-actions welcome">
            T("Welcome, <strong>{0}</strong>!", Html.Raw("<a href=\"" + Url.Action("ChangePassword", new { Controller = "Account", Area = "Orchard.Users" }) + "\">" + Html.ItemDisplayText(WorkContext.CurrentUser) + "</a>"))
        </span>-->
        <span class="user-actions welcome">
            @T("")
        </span>
        <!--span class="user-actions">
            @*@if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {
http://develearn.bankersinsurance.com/Users/Account/LogOn?ReturnUrl=%2F
                 @T("&nbsp;&nbsp;&nbsp;")
                @Html.ActionLink(T("Admin Dashboard").ToString(), "Index", new {Area = "Dashboard", Controller = "Admin"})
            }*@
        </span-->
			<span><!--a href='/'>Home</a-->&nbsp;&nbsp;&nbsp;
				<a href="https://www.bankersinsurance.com/buying-insurance.html" target="_blank">Insurance 101</a>&nbsp;&nbsp;&nbsp;
				<a href="https://www.bankersinsurance.com/customer-support.html"target="_blank">Customer Support</a>&nbsp;&nbsp;&nbsp;</span>
         
        </td>
</tr>
</table>
<br>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {
                  <a class="navbar-brand" href="Href("~/admin")" target="_blank"> WorkContext.CurrentSite.SiteName Dashboard</a>
                -->
            
            </div>
            <div class="collapse navbar-collapse" id="main_menu">
                @tag.StartElement
                    @* see MenuItem shape template *@
                    @DisplayChildren(Model)
                @tag.EndElement    
                @using(Html.BeginForm("index", "search", new { area = "Orchard.Search" }, FormMethod.Get, new { @class = "navbar-form navbar-right search-form" })) {  
                    <div class="form-group">
                        <input id="q" name="q" type="text" value="" class="form-control" placeholder="Search" required>
                        <button type="submit" class="btn btn-default search-btn" style="width: 40px"> 
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </nav>
