﻿@{ 
    var clock = WorkContext.Resolve<Orchard.Services.IClock>();
}
<div><br><br><br><br><br>
<hr>
</div>

<div class="text-center site-footer">      
    <a href="http://www.bankersfinancialcorp.com" target="_blank">
         Copyright &copy; @clock.UtcNow.Year Bankers Insurance Group.<br>
        Bankers Financial Corporation.<br> All rights reserved. </a>
   
   <!-- <p>_______________________________________________</p>
    	11101 Roosevelt Blvd N, St. Petersburg, Florida 33716<br>
	<a href="tel:+1800627000">800-627-0000</a>  | 
    <a href="mailto:info@bankersfinancialcorp.com">info@bankersfinancialcorp.com</a>-->
</div>

