@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
    string contentType = contentItem.ContentType;
    var url = HttpContext.Current.Request.RawUrl;
}

@if(!url.Contains("/Search?q=" )
    && !url.Contains("-guides")
    &&!url.Contains("Contents/Item/Display")){
        <h2><strong>@Html.ItemDisplayLink("", contentItem)</strong></h2>
}