﻿@model DynamicsCRMWebPortal.Models.AccountModel
@{
    ViewBag.Title = "CRM Profile";
}  
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> 
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>  
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script> 
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script> 
<div> 
    <span style="font-size: medium">@Html.ActionLink("Back", "index","home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index","Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index","Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index","Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index","Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index","Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index","Calendar") ||</span> 
    <span style="font-size: medium">@ViewBag.Title</span> 
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green; font-size:small;font-family: 'MuseoSans_xFat'; font-weight: bold" id="spanMsg"> @if (TempData["UserMessage"] != null) {
        <h4>@TempData["UserMessage"]</h4>
    }</span>
    
</div>
<hr /> 
<section id="XRMAccountForm" >
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
         @Html.ValidationSummary(true) 

        <table style="width: 600px">
            <tr>
                <td>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.FirstName)
                </td>
                <td>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </td>
                <td>
                    @Html.LabelFor(m => m.AddressName)
                    @Html.TextBoxFor(m => m.AddressName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AddressLine1)
                    @Html.TextBoxFor(m => m.AddressLine1, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </td>
                <td>
                    @Html.LabelFor(m => m.AddressLine2)
                    @Html.TextBoxFor(m => m.AddressLine2, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine2)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AddressLine3)
                    @Html.TextBoxFor(m => m.AddressLine3, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine3)
                </td>
                <td>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.County)
                    @Html.TextBoxFor(m => m.County, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.County)
                </td>
                <td>
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.Country)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.PostCode)
                    @Html.TextBoxFor(m => m.PostCode, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.PostCode)
                </td>
                <td>
                    @Html.LabelFor(m => m.Telephone)
                    @Html.TextBoxFor(m => m.Telephone, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.Telephone)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right">
                    <input type="submit" name="button" class="ui-button-text"  value="Update" />                    
                
                  @* <input type="button"name="button" class="ui-button-text"  value="Cancel" />*@
                </td>
            </tr>          
        </table>
    }
 
</section>