﻿<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
<p>@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <legend>@T("Account Information")</legend>
        <div>
            <label for="username" style="width: 200px;text-align: right">@T("Username or E-mail:")</label>
            @Html.TextBox("username") 
            @Html.ValidationMessage("username") 
        </div>
        <div>
            <button class="primaryAction" type="submit">@T("Send Request")</button>
        </div>
    </fieldset>
 } 