﻿@model DynamicsCRMWebPortal.ViewModels.DynamicsCRMWebPortalViewModel
@{ Layout.Title = T("Dynamics CRM Setting").ToString(); }
<section id="XRMAdminForm">
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(m => m.Settings.CRMConnectionString, @T("Dynamics CRM connection string"))
            @Html.TextBoxFor(m => m.Settings.CRMConnectionString, new {style = "width:100%;"})        
            @Html.ValidationMessageFor(m => m.Settings.CRMConnectionString, "*")
          
            <p>Examples:</p>
            <p><b>- for CRM Online: </b>"Server=https://OrganizationName.crm.dynamics.com; Username=UserName@OrganizationName.onmicrosoft.com; Password=UserPassword"</p>
            <p><b>- for CRM On Premise: </b>"Server=http://ServerName/OrganizationName; Username=DomainName\ServiceName; Password=ServicePassword"</p>
            <br /> 
            <p><i>Support Microsoft Dynamics CRM 2011/2013/2015 Online and On-Premise deployment.</i></p>
            <p><i> &#169; Osmosys Software Solutions Pvt. Ltd.  http://osmosys.asia/ </i></p>
            <p><i> &#169; Jim Wang http://www.orchardcrm.com </i></p>
         </div>
        <div>
            <p>&nbsp;</p><p>&nbsp;</p>
            <p><button name="submit" value="Index" type="submit">@T("Save")</button></p>
        </div>
    }
</section>