﻿@model DynamicsCRMWebPortal.Models.HomeModel
@{
    ViewBag.Title = "Orchard CRM Portal";
}
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> 
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>  
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script> 
<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMHomeForm">
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table style="width: 100%;font-size:medium">
            <tr>
                <td>@if (Model != null && Model.FirstName != null) {
                        <p>@("Welcome: " + Model.FirstName)</p>
                    } 
                    <p>@Html.ActionLink("My CRM Profile", "Index", "Account")</p>
                    <p>@Html.ActionLink("My CRM Opportunity", "Index", "Opportunity")</p>
                    <p>@Html.ActionLink("My CRM Cases", "Index", "Case")</p>
                    <p>@Html.ActionLink("My CRM Customers", "Index", "Customer")</p>
                    <p>@Html.ActionLink("My CRM Orders and Orders From My Customers", "Index", "Order")</p>
                    <p>@Html.ActionLink("CRM Articles", "Index", "Article")</p>
                    <p>@Html.ActionLink("CRM Service Calendar", "Index", "Calendar")</p>
                </td>
            </tr>
        </table>
    }
</section>