@using System.Globalization
@using System.Threading
@model DateTime?
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI_DatePicker").AtHead();
    Script.Require("jQueryUI_TimePicker").AtHead();
    Style.Require("jQueryUI_Orchard").AtHead();
    Style.Require("DateTimeEditor");
    Script.Include("jquery-ui-timepicker-addon.js").AtHead();
    Style.Include("jquery-ui-timepicker-addon.css").AtHead();

    var fieldId = Html.FieldIdFor(m => Model);
    var altFieldId = "alt_" + Html.FieldIdFor(m => Model);

    //orchard current culture
    var currentCulture = new CultureInfo(WorkContext.CurrentCulture);
    var dateValue = Model.GetValueOrDefault();
    var date = Model.GetValueOrDefault() != DateTime.MinValue ? dateValue.ToString("d", currentCulture) : String.Empty;
    var time = Model.GetValueOrDefault() != DateTime.MinValue ? dateValue.ToString("t", currentCulture) : String.Empty;
    var datetime = date + " " + time;

    //correct parsing format excpected by MVC
    var currentMvcPostParseCulture = Thread.CurrentThread.CurrentCulture;
    var dateFormat = currentMvcPostParseCulture.DateTimeFormat.ShortDatePattern
                                               .Replace("yyyy", "YY")
                                               .Replace("yy", "Y")
                                               .Replace("Y", "y")
                                               .Replace("M", "m");

    var timeFormat = currentMvcPostParseCulture.DateTimeFormat.ShortTimePattern
                                               .Replace("H", "h");
}

<input class="datetime text" id="@altFieldId" value="@datetime" />
@Html.HiddenFor(m => m)

@using (Script.Head()) {
    @Display(New.DatePickerLocalization())
    @Display(New.TimePickerLocalization())

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            $("#@altFieldId").datetimepicker({
                showAnim: "",
                onClose: function() {
                    $(this).trigger('change');
                },
                altFieldTimeOnly: false,
                altTimeFormat: "@timeFormat",
                altFormat: "@dateFormat",
                altField: '#@fieldId'
            });
        })
    //]]>
    </script>
}