@using System.Globalization
@using System.Threading
@model DateTime?
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI_DatePicker").AtHead();
    Style.Require("jQueryUI_Orchard").AtHead();
    Style.Require("DateTimeEditor");

    var fieldId = Html.FieldIdFor(m => Model);
    var altFieldId = "alt_" + Html.FieldIdFor(m => Model);

    //orchard current culture
    var currentCulture = new CultureInfo(WorkContext.CurrentCulture);
    var dateValue = TimeZoneInfo.ConvertTimeFromUtc(Model.GetValueOrDefault(), WorkContext.CurrentTimeZone);
    var date = Model.GetValueOrDefault() != DateTime.MinValue ? dateValue.ToString("d", currentCulture) : String.Empty;

    //correct parsing format excpected by MVC
    var currentMvcPostParseCulture = Thread.CurrentThread.CurrentCulture;
    var dateFormat = currentMvcPostParseCulture.DateTimeFormat.ShortDatePattern
                                               .Replace("yyyy", "YY")
                                               .Replace("yy", "Y")
                                               .Replace("Y", "y")
                                               .Replace("M", "m");
}

<input class="date text" id="@altFieldId" value="@date" />
@Html.HiddenFor(m => m)

@using (Script.Head()) {
    @Display(New.DatePickerLocalization())

    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            $("#@altFieldId").datepicker({
                showAnim: "",
                onClose: function() {
                    $(this).trigger('change');
                },
                altFieldTimeOnly: false,
                altFormat: "@dateFormat",
                altField: '#@fieldId'
            });
        })
    //]]>
    </script>
}