/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #f4f8fc;
}

p {
    font-size: 20px;
}

    p.small {
        font-size: 16px;
    }

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #1785ad;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

    hr.star-light:after,
    hr.star-primary:after {
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
    }

hr.star-light {
    border-color: #333;
}

    hr.star-light:after {
        background-color: white;
        color: #333;
    }

section#about {
    /*background-color: #9a9a9a;
    color: #333;*/
    background-color: #1785ad; /* 565656 */
    color: #fff;
}

    section#about hr.star-light {
        border-color: #fff;
    }

        section#about hr.star-light:after {
            /*background-color: #9a9a9a;*/
            background-color: #1785ad;
            color: #fff;
        }

    section#about .btn-outline {
        color: #ddd;
        border: solid 2px #ddd;
    }

        section#about .btn-outline:hover, section#about .btn-outline:focus, section#about .btn-outline:active, section#about .btn-outline.active {
            color: #333;
            border: solid 2px #333;
        }

    section#about p {
        font-size: 25px;
    }

    section#about p ul {
        
    }

hr.star-primary {
    border-color: #2C3E50;
}

    hr.star-primary:after {
        background-color: white;
        color: #2C3E50;
    }

.img-centered {
    margin: 0 auto;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

.navbar-custom {
    background: #535658; /*  14af92 */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

    .navbar-custom a:focus {
        outline: none;
    }

    .navbar-custom .navbar-brand {
        color: white;
    }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus,
        .navbar-custom .navbar-brand:active,
        .navbar-custom .navbar-brand.active {
            color: white;
        }

    .navbar-custom .navbar-nav {
        letter-spacing: 1px;
    }

        .navbar-custom .navbar-nav li a {
            color: white;
        }

            .navbar-custom .navbar-nav li a:hover {
                color: #8e8d8d;
                outline: none;
            }

            .navbar-custom .navbar-nav li a:focus,
            .navbar-custom .navbar-nav li a:active {
                color: white;
            }

        .navbar-custom .navbar-nav li.active a {
            color: #abb6b9;
            background: transparent;
            box-shadow: 0px -5px inset;
        }

            .navbar-custom .navbar-nav li.active a:hover,
            .navbar-custom .navbar-nav li.active a:focus,
            .navbar-custom .navbar-nav li.active a:active {
                color: #abb6b9;
                background: transparent;
                box-shadow: 0px -5px inset;
            }

    .navbar-custom .navbar-toggle {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #1785ad;
            color: white;
            border-color: #1785ad;
        }

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

        .navbar-custom .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .navbar-custom.affix {
            padding: 10px 0;
        }

            .navbar-custom.affix .navbar-brand {
                font-size: 1.5em;
            }
}

.navbar-brand > img#connect-protect-logo {
    position: relative;
    height: 70px;
    width: 70px;
    top: -25px;
    transition: 0.3s;
}

.affix .navbar-brand > img#connect-protect-logo {
    height: 50px;
    width: 50px;
    top: -15px;
    left: -15px;
}

section {
    padding: 10px 0;
}

    section h2 {
        margin: 0;
        font-size: 3em;
    }

    section.success {
        background: #1785ad;
        color: white;
    }

#about ul#benefit-list {
    padding: 0 30px;
    margin-top: -5px;
    font-size: 19px;
}

img#page-logo {
    background-color: #2c3e50;
    border-radius: 50%;
    padding: 15px;
}

@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }

        section.first {
            padding-top: 75px;
        }
}

#device .device-item {
    margin: 0 0 15px;
    right: 0;
}

    #device .device-item img {
        height: 100%;
        margin: auto;
        padding: 30px;
    }

    #device .device-item .device-link {
        display: block;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
        height: 200px;
        background-color: #f5f5f5;
    }

        #device .device-item .device-link .caption {
            background: rgba(86, 86, 86, 0.66);
            position: absolute;
            width: 100%;
            height: 60px;
            opacity: 1;
            color: #fff;
            font-size: 25px;
            line-height: 60px;
            text-align: center;
            bottom: 0;
            transition: all ease .2s;
            -webkit-transition: all ease .2s;
            -moz-transition: all ease .2s;
        }

        #device .device-item .device-link:hover .caption {
            opacity: 1;
            background: #535658 ;
            color:  #999;
            
        }

        #device .device-item .device-link:hover {
            transition: 0.5s ease-out;
            background: #aba9a9;
        }

        #device .device-item .device-link .caption .caption-content {
            position: absolute;
            width: 100%;
            height: 20px;
            font-size: 20px;
            text-align: center;
            top: 50%;
            margin-top: -12px;
            color: white;
        }

            #device .device-item .device-link .caption .caption-content i {
                margin-top: -12px;
            }

            #device .device-item .device-link .caption .caption-content h3,
            #device .device-item .device-link .caption .caption-content h4 {
                margin: 0;
            }

#device * {
    z-index: 2;
}

@media (min-width: 767px) {
    #device .device-item {
        margin: 0 0 30px;
    }
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

    .floating-label-form-group input,
    .floating-label-form-group textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }

    .floating-label-form-group label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease,opacity 0.3s ease;
        -moz-transition: top 0.3s ease,opacity 0.3s ease;
        -ms-transition: top 0.3s ease,opacity 0.3s ease;
        transition: top 0.3s ease,opacity 0.3s ease;
    }

    .floating-label-form-group:not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid #eeeeee;
    }

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #1785ad;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

footer {
    color: white;
}

    footer h3 {
        margin-bottom: 30px;
    }

    footer .footer-above {
        padding-top: 50px;
        background-color: #1785ad;
    }

    /*footer .footer-col {
        margin-bottom: 50px;
    }*/

    footer .footer-below {
        padding: 25px 0;
        background-color: #1785ad;
    }

    footer .btn-outline {
        color: white;
        border-color: white;
    }

        footer .btn-outline:hover {
            color: #7ac6e2;
            border-color: #7ac6e2;
        }

        footer .btn.btn-lg.btn-outline {
            transition: none;
            border-radius: 0;
        }

.btn-outline {
    color: #333;
    font-size: 20px;
    border: solid 2px #333;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

    .btn-outline:hover,
    .btn-outline:focus,
    .btn-outline:active,
    .btn-outline.active {
        color: #fff;
        background: transparent;
        border: solid 2px #fff;
    }

.btn-primary {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: white;
        background-color: #1a242f;
        border-color: #161f29;
    }

    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-image: none;
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary,
    .btn-primary.disabled:hover,
    .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary:hover,
    .btn-primary.disabled:focus,
    .btn-primary[disabled]:focus,
    fieldset[disabled] .btn-primary:focus,
    .btn-primary.disabled:active,
    .btn-primary[disabled]:active,
    fieldset[disabled] .btn-primary:active,
    .btn-primary.disabled.active,
    .btn-primary[disabled].active,
    fieldset[disabled] .btn-primary.active {
        background-color: #333;
        border-color: #333;
    }

    .btn-primary .badge {
        color: #2C3E50;
        background-color: white;
    }

.btn-success {
    color: white;
    background-color: #1785ad;
    border-color: #1785ad;
    font-weight: 700;
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        color: white;
        background-color: #1785ad;
        border-color: #1785ad;
    }

    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background-image: none;
    }

    .btn-success.disabled,
    .btn-success[disabled],
    fieldset[disabled] .btn-success,
    .btn-success.disabled:hover,
    .btn-success[disabled]:hover,
    fieldset[disabled] .btn-success:hover,
    .btn-success.disabled:focus,
    .btn-success[disabled]:focus,
    fieldset[disabled] .btn-success:focus,
    .btn-success.disabled:active,
    .btn-success[disabled]:active,
    fieldset[disabled] .btn-success:active,
    .btn-success.disabled.active,
    .btn-success[disabled].active,
    fieldset[disabled] .btn-success.active {
        background-color: #1785ad;
        border-color: #1785ad;
    }

    .btn-success .badge {
        color: #1785ad;
        background-color: white;
    }

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}

    .scroll-top .btn {
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        line-height: 28px;
    }

        .scroll-top .btn:focus {
            outline: none;
        }

.device-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 10px 0;
    text-align: center;
}

    .device-modal .modal-content h2 {
        margin: 0;
        font-size: 3em;
    }

    .device-modal .modal-content img {
        margin-bottom: 30px;
    }

    .device-modal .modal-content .item-details {
        margin: 30px 0;
    }

.device-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

    .device-modal .close-modal:hover {
        opacity: 0.3;
    }

    .device-modal .close-modal .lr {
        height: 75px;
        width: 1px;
        margin-left: 35px;
        background-color: #2C3E50;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari and Chrome */
        z-index: 1051;
    }

        .device-modal .close-modal .lr .rl {
            height: 75px;
            width: 1px;
            background-color: #2C3E50;
            transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            /* IE 9 */
            -webkit-transform: rotate(90deg);
            /* Safari and Chrome */
            z-index: 1052;
        }

.device-modal .modal-backdrop {
    opacity: 0;
    display: none;
}


/*
    bootstrap overrides
*/

.text-danger {
    font-style: italic;
    font-size: inherit;
}

/*
    bootstrap dialog
*/

.modal-content, .bootstrap-dialog .modal-header {
    border-radius: 0;
}

.bootstrap-dialog.type-success .modal-header {
    background-color: #1785ad;
}


/*
    custom
*/

div.custom-group {
    margin-bottom: 5px;
    position: relative;
}

    div.custom-group input, div.custom-group select {
        font-size: 18px;
        padding: 15px 10px 5px 0;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #c6c4c4;
        color: #06364c;
        font-weight: bold;
    }

        div.custom-group input:focus, div.custom-group select:focus {
            outline: none;
            box-shadow: none;
        }

    div.custom-group label {
        color: #999;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        top: -10px;
        font-size: 14px;
        left: 0;
    }

    div.custom-group input:focus ~ label {
        color: #1785ad;
        font-weight: bold;
    }

    div.custom-group .custom-bar {
        position: relative;
        display: block;
        width: 100%;
    }

        div.custom-group .custom-bar:before, div.custom-group .custom-bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #1785ad;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        div.custom-group .custom-bar:before {
            left: 50%;
        }

        div.custom-group .custom-bar:after {
            right: 50%;
        }

    div.custom-group input:focus ~ .custom-bar:before, div.custom-group input:focus ~ .custom-bar:after, div.custom-group select:focus ~ .custom-bar:before, div.custom-group select:focus ~ .custom-bar:after {
        width: 50%;
    }

    div.custom-group select {
        border-radius: 0;
        color: #06364c;
        font-weight: bold;
        box-shadow: none;
        font-size: 18px;
        padding: 0 0 5px 0px;
        padding: 16px 10px 5px 0;
    }

        div.custom-group select ~ label {
            left: 0;
        }

        div.custom-group select:focus ~ label {
            font-size: 14px;
            color: #1785ad;
            font-weight: bold;
        }

    div.custom-group .validationMessage, div#promo-code-form .validationMessage {
        font-style: italic;
        font-size: 12px;
        color: firebrick;
        position: absolute;
        margin-top: 2px;
    }

div.custom-checkbox-group label {
    font-size: 14px;
    color: #999;
    transition: 0.3s;
}

div.custom-checkbox-group input[type=radio]:checked ~ span {
    color: #1785ad;
    font-weight: bold;
}

div.custom-checkbox-group input[type=checkbox], div.custom-checkbox-group input[type=radio] {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    margin-right: 5px;
}

img.credit-card-icon {
    height: 27px;
    width: 27px;
    margin-left: 5px;
    position: relative;
    top: -9px;
}

    img.credit-card-icon:first-of-type {
        margin-left: 15px;
    }

div#promo-code-form input {
    background-color: #f3f2f2;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    border-radius: 0;
    height: 60px;
    color: #06364c;
    font-weight: bold;
    text-align: center;
    width: 150px;
    margin-right: 5px;
    box-shadow: 0px -5px #b9b6b6 inset;
}

    div#promo-code-form input:disabled {
        background-color: #d4d3d3;
        text-transform: uppercase;
        color: #728396;
    }

div#promo-code-form div#promo-zip-holder {
    text-align: center;
    display: inline-block;
}

div#promo-code-form .input-group-btn {
    float: left;
}

div#promo-code-form span button {
    height: 60px;
    border: 0;
    border-radius: 0;
    background-color: #333;
    color: white;
    font-size: 17px;
    padding: 0 30px;
    margin-left: 10px;
}

div#promo-code-form span#header-validation-message {
    position: relative;
    left: auto;
    bottom: -5px;
}

div#promo-code-form span.validationMessage {
    white-space: nowrap;
    bottom: -17px;
    left: 0;
    z-index: 2;
    color: white;
}

div#promo-code-form div > div:first-child .row .input-group {
    width: 100%;
}

div#promo-code-form input[name=ZipCode] + span {
    left: 5px;
}

div#promo-start-holder {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
}

    div#promo-start-holder.promo-start {
        height: 100px;
        overflow: visible;
        opacity: 1;
    }

div#promo-code-form div#promo-value {
    font-size: 50px;
    margin-top: 15px;
}

span#form-start, span#learn-more {
    font-weight: bold;
    font-size: 25px;
    width: 165px;
    color: #605f5f;
    border: 2px solid;
    min-width: 0;
    padding: 5px 15px;
    margin-top: 15px;
    display: inline-block;
}

    span#form-start:hover, span#learn-more:hover {
        cursor: pointer;
        border-color: #b9b6b6;
        color: #b9b6b6;
    }


input#CardNumber, input#ExpirationDate, input#PhoneNumber {
    letter-spacing: 2px;
}

input#LastName, input#FirstName, input#Address {
    text-transform: capitalize;
}

input#zipCode:disabled {
    background-color: transparent;
    pointer-events: none;
    color: #67767d;
}

button#btnPurchase {
    border-radius: 0;
}

div#product-info label {
    font-weight: bold;
    font-size: 17px;
    color: #1785ad;
}

div#product-info table.product-info-list {
    margin-bottom: 30px;
    float: left;
}

    div#product-info table.product-info-list:first-of-type {
        margin-bottom: 0;
    }


    div#product-info table.product-info-list:last-of-type {
        border-left: 1px solid #e6e6e6;
    }

        div#product-info table.product-info-list:last-of-type td:first-child {
            padding-left: 15px;
        }


    div#product-info table.product-info-list tr > td {
        font-size: 13px;
        padding-right: 15px;
        padding-left: 15px;
    }

        div#product-info table.product-info-list tr > td:first-child {
            padding-left: 0px;
        }

        div#product-info table.product-info-list tr > td:nth-child(odd) {
            font-weight: 700;
            color: #999;
        }

        div#product-info table.product-info-list tr > td:nth-child(even) {
            color: #7b8086;
        }

div#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.79);
    cursor: wait;
}

    div#loader > div {
        height: 240px;
        width: 240px;
        position: fixed;
        left: 50%;
        right: 50%;
        top: 50%;
        transform: translate(-120px,-120px);
    }

    div#loader div div.loader {
        color: #c0c0c0;
        font-size: 20px;
        margin: 10px auto;
        height: 1em;
        width: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        -webkit-animation: load4 1.3s infinite linear;
        animation: load4 1.3s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }



@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

div#confirmation-page {
    height: 100%;
    width: 100%;
    background-image: url("Images/confirmation-page.jpg");
    background-size: cover;
    background-position: 0px 50px;
    height: 500px;
    margin-top: 50px;
    padding-top: 50px;
    background-repeat: no-repeat;
}

    div#confirmation-page h1 {
        text-align: center;
        margin-top: 150px;
        color: #ddd;
    }
