﻿@using System.Globalization
@using Xrm
@model DynamicsCRMWebPortal.Models.CalendarModel
@{
    ViewBag.Title = "Create Service Calendar";
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script>       
        var disabledDays = @Html.Raw(Json.Encode(Model != null ? Model.OccupiedDates : null))

        function disableAllTheseDays(date) {
            var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
            if (disabledDays != null) {
                for (i = 0; i < disabledDays.length; i++) {
                    if ($.inArray((m + 1) + '/' + d + '/' + y, disabledDays) != -1) {
                        return [false];
                    }
                }
            }
            return [true];
        }
        $(function () {
            $("#datepicker").datepicker({
                minDate: 0,
                beforeShowDay: disableAllTheseDays
            });
        });
    </script>
}

<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null)
    {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMCalendarForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table style="width: 100%; ">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Resource)
                    @if (Model != null && Model.Resource != null)
                    {
                        @Html.DropDownListFor(m => m.ResourceItemId, Model.Resource, string.Empty, new { onchange = "this.form.submit();" })
                    }
                    @Html.ValidationMessageFor(m => m.ResourceItemId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Subject)
                    @Html.TextBoxFor(m => m.Subject)
                    @Html.ValidationMessageFor(m => m.Subject)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.StartTime)
                    @Html.TextBoxFor(m => m.StartTime, new { id = "datepicker", @Value = "" })
                    @Html.ValidationMessageFor(m => m.StartTime)
                </td>
            </tr>
            <tr>
                <td>
                    <button name="button" value="create">Create</button>&nbsp;&nbsp;
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>
        </table>

    }
</section>