﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.CalendarModel
@{
    ViewBag.Title = "CRM Service";
}

<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery.jqGrid.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/grid.locale-en.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/moment.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/fullcalendar.min.js"></script>
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/fullcalendar.print.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/ServiceCalendar.js"></script>
<style>
    #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

            #external-events p input {
                margin: 0;
                vertical-align: middle;
            }

    #calendar {
        float: right;
        /*width: 900px;*/
    }
</style>
<div>
    <span style="font-size: medium">@Html.ActionLink("Back", "index","home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index","Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index","Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index","Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index","Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index","Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index","Calendar") ||</span>
    <span style="font-size: medium">@ViewBag.Title >></span>
    <a style="font-size: medium" onclick="openCalendar()">Add New Service</a>
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green; font-size: small; font-family: 'MuseoSans_xFat'; font-weight: bold" id="spanMsg"></span>

</div>
<hr />
@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken() 
}
<div>
    <div id='calendar' style="font-size: 14px !important"></div>
</div>
<div>
    @if (TempData["UserMessage"] != null)
    {
        <p>@TempData["UserMessage"]</p>
    }
</div>


<div id="divCalendar" style="display: none; width: 239px;">
    <table style="width: 240px">
        <tr style="height:50px">
            <td>
                <label style="color: black; font-weight: bold" for="ResourceItemId">Resource</label>
                @if (Model != null && Model.Resource != null)
                    {
                        @Html.DropDownListFor(m => m.ResourceItemId, Model.Resource,  new {style="width: 230px;"}  )
                    }

            </td>

        </tr>
        <tr style="height:50px">
            <td>
                <label style="color: black; font-weight: bold" for="Subject">Subject</label>
                <input style="width: 220px" id="Subject" maxlength="200" name="Subject" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label style="color: black; font-weight: bold" for="StartTime">Start Date</label>
                <input style="width: 220px" id="StartTime" name="StartTime" type="text"  readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: right">
                <input type="button" value="Create" class="ui-button-text" id="btnCreate" onclick="CreateServiceCalendar()" />&nbsp;&nbsp;
                <input type="button" class="ui-button-text" id="btnCancel" onclick="ClosePopup()" value="Cancel" />
            </td>
        </tr>
        <tr>
            <td id="errorMsg" style="display: none"></td>
        </tr>
    </table>

</div>
