﻿@model DueMetri.Activities.Models.ActivityPart
@{
    var colorList = new Dictionary<string, string>();
    colorList.Add("", "");
    colorList.Add("Blue", "006699");
    colorList.Add("Red", "FF0000");
    colorList.Add("Orange", "FF6600");
    colorList.Add("Green", "009933");
    colorList.Add("Cyan", "4FD5D6");
    colorList.Add("Yellow", "FFCC00");
    var colorSelectList = new SelectList(colorList, "Value", "Key", Model.Category);
}
<fieldset>
    <legend>@T("Activities").ToString()</legend>
    <div>
        @Html.LabelFor(m => m.Title, T("Title"))
        @Html.TextBoxFor(m => m.Title, new{@class = "text large", maxlength = "255"})
        @Html.ValidationMessageFor(m => m.Title, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.DateTimeStart, T("Date and time start"))
        @Html.EditorFor(m => m.DateTimeStart)
        @Html.ValidationMessageFor(m => m.DateTimeStart, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.DateTimeEnd, T("Date end"))
        @Html.EditorFor(m => m.DateTimeEnd)
        @Html.ValidationMessageFor(m => m.DateTimeEnd, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.Url, T("Target url"))
        @Html.TextBoxFor(m => m.Url, new{@class = "text large", maxlength = "255"})
        @Html.ValidationMessageFor(m => m.Url, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.Category, T("Category"))
        @Html.DropDownListFor(m => m.Category, colorSelectList)
        @Html.ValidationMessageFor(m => m.Category, "*")
    </div>
    <div>
        @Html.LabelFor(m => m.ShowInHome, T("Show in home"))
        @Html.EditorFor(m => m.ShowInHome)
        @Html.ValidationMessageFor(m => m.ShowInHome, "*")
    </div>
</fieldset>
