﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.ArticleModel
@{
    ViewBag.Title = "CRM Articles";
}
<h1>@ViewBag.Title</h1>
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> 
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>  
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script> 
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script> 
<div> 
    <h3>@Html.ActionLink("CRM Portal", "index","home") </h3>  
</div>
<section id="XRMArticleForm">
    <div>
        @if (TempData["UserMessage"] != null) {
            <p>@TempData["UserMessage"]</p>
        }
    </div>
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.DropDownListFor(m => m.SubjectItemId, Model.Subject, "- All -", new {style = "width:145px;"})
        <button name="button" value="select">Select</button>
        <table style="width: 100%;">
            @if (ViewData["articles"] != null) {
                <tr>
                    <td><b>Article</b></td>
                    <td><b>Title</b></td>
                </tr>

                foreach (var item in (List<XrmRepository.ArticleItem>) ViewData["articles"]) {
                    <tr>
                        <td>@Html.ActionLink(item.ArticleNumber, "Open", new {articleNumber = item.ArticleNumber}) </td>
                        <td>@(item.Title.Length > 50 ? item.Title.Substring(0, 50) : item.Title)</td>
                    </tr>
                }
            }

        </table>
    }

</section>