﻿@using System.Globalization
@using Xrm
@model DynamicsCRMWebPortal.Models.ArticleModel
@{
    ViewBag.Title = "Open Article";
}
<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMArticleForm">
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (ViewData["article"] != null) {
            var article = (KbArticle) ViewData["article"];

            <table style="width: 100%;">
                <tr>
                    <td><b>Last Update:</b> @article.ModifiedOn.Value.ToString(CultureInfo.InvariantCulture)</td>
                    <td><b>Subject:</b> @article.SubjectId.Name</td>
                </tr>            
                <tr>
                    <td>@Html.Raw(article.Content)</td>
                </tr>   
                <tr>
                    <td>
                        <button name="button" value="ok">OK</button>
                    </td>
                </tr>
            </table>
        }
    }

</section>