﻿@model DynamicsCRMWebPortal.Models.CustomerModel
@{
    ViewBag.Title = "Create Customer";
}

<h1>@ViewBag.Title</h1>
<div>
    @if (TempData["UserMessage"] != null) {
        <p>@TempData["UserMessage"]</p>
    }
</div>
<section id="XRMCustomerForm">
    @using (Html.BeginForm(new {ViewBag.ReturnUrl})) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table style="width: 100%">
            <tr>
                <td>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.FirstName)
                </td>
                <td>
                    @Html.LabelFor(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </td>
                <td>
                    @Html.LabelFor(m => m.AddressName)
                    @Html.TextBoxFor(m => m.AddressName, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AddressLine1)
                    @Html.TextBoxFor(m => m.AddressLine1, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine1)
                </td>
                <td>
                    @Html.LabelFor(m => m.AddressLine2)
                    @Html.TextBoxFor(m => m.AddressLine2, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine2)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AddressLine3)
                    @Html.TextBoxFor(m => m.AddressLine3, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.AddressLine3)
                </td>
                <td>
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.City)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.County)
                    @Html.TextBoxFor(m => m.County, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.County)
                </td>
                <td>
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.Country)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.PostCode)
                    @Html.TextBoxFor(m => m.PostCode, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.PostCode)
                </td>
                <td>
                    @Html.LabelFor(m => m.Telephone)
                    @Html.TextBoxFor(m => m.Telephone, new {style = "width:100%;"})
                    @Html.ValidationMessageFor(m => m.Telephone)
                </td>
            </tr>
            <tr>
                <td>
                    <button name="button" value="create">Create</button>                    
                </td>
                <td>
                    <button name="button" value="cancel">Cancel</button>
                </td>
            </tr>          
        </table>
    }
 
</section>