﻿@using DynamicsCRMWebPortal.Services
@model DynamicsCRMWebPortal.Models.CustomerModel 
@{
    ViewBag.Title = "CRM Customers"; 
} 

<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Modules/DynamicsCRMWebPortal/Styles/CRMPortal.css" rel="stylesheet" />
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-1.11.0.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery.jqGrid.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/grid.locale-en.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/jquery-ui.min.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Global.js"></script>
<script src="~/Modules/DynamicsCRMWebPortal/Scripts/Customer.js"></script>

<div>
    <span style="font-size: medium">@Html.ActionLink("Back", "index","home") |</span>
    <span style="font-size: medium">@Html.ActionLink("Profile", "index","Account") |</span>
    <span style="font-size: medium">@Html.ActionLink("Opportunity", "index","Opportunity") |</span>
    <span style="font-size: medium">@Html.ActionLink("Case", "index","Case") |</span>
    <span style="font-size: medium">@Html.ActionLink("Customer", "index","Customer") |</span>
    <span style="font-size: medium">@Html.ActionLink("Order", "index","Order") |</span>
    <span style="font-size: medium">@Html.ActionLink("Calendar", "index","Calendar") ||</span>
    <span style="font-size: medium">@ViewBag.Title >></span>
    <a style="font-size: medium" onclick="openCustomer()">Add New Customer</a>
    &nbsp;
</div>
<hr />
<div>
    <span style="color: green;font-size:small; font-family: 'MuseoSans_xFat'; font-weight: bold" id="spanMsg"></span>

</div>
<hr />
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
@using (Html.BeginForm()) {
        @Html.AntiForgeryToken() 
    }
 <div id="editCustomerDlg" style="display: none">
     <input id="CustomerId" name="CustomerId" type="hidden" />
     <table style="width: 680px;">
         <tr>
             <td>
                 <label style="color: black; font-weight: bold" for="FirstName">First Name</label>
                 <input style="width: 150px" id="FirstName" maxlength="25" name="FirstName" type="text" />
             </td>
             <td>
                 <label style="color: black; font-weight: bold" for="LastName">Last Name</label>
                 <input style="width: 150px" id="LastName" name="LastName" maxlength="25" type="text" />
             </td>

             <td>
                 <label style="color: black; font-weight: bold" for="EmailAddress">Email Address</label>
                 <input style="width: 150px" id="EmailAddress" name="EmailAddress" maxlength="100" type="text" />
             </td>
         </tr>
         <tr>
             <td>
                 <label style="color: black; font-weight: bold" for="AddressName">Address Name</label>
                 <input style="width: 150px" id="AddressName" maxlength="25" name="AddressName" type="text" />
             </td>

             <td>
                 <label style="color: black; font-weight: bold" for="AddressLine1">Address Line1</label>
                 <input style="width: 150px" id="AddressLine1" maxlength="25" name="AddressLine1" type="text" />
             </td>
             <td>
                 <label style="color: black; font-weight: bold" for="AddressLine2">Address Line2</label>
                 <input style="width: 150px" id="AddressLine2" maxlength="25" name="AddressLine2" type="text" />
             </td>
         </tr>
         <tr>
             <td>
                 <label style="color: black; font-weight: bold" for="AddressLine3">Address Line3</label>
                 <input style="width: 150px" id="AddressLine3" maxlength="25" name="AddressLine3" type="text" />
             </td>
             <td>
                 <label style="color: black; font-weight: bold" for="City">City</label>
                 <input style="width: 150px" id="City" name="City" maxlength="25" type="text" />
             </td>

             <td>
                 <label style="color: black; font-weight: bold" for="County">County</label>
                 <input style="width: 150px" id="County" name="County" maxlength="25" type="text" />
             </td>
         </tr>
         <tr>
             <td>
                 <label style="color: black; font-weight: bold" for="Country">Country</label>
                 <input style="width: 150px" id="Country" name="Country" maxlength="25" type="text" />
             </td>

             <td>
                 <label style="color: black; font-weight: bold" for="PostCode">Postal Code</label>
                 <input style="width: 150px" id="PostCode" name="PostCode" maxlength="10" type="text" />
             </td>
             <td>
                 <label style="color: black; font-weight: bold" for="Telephone">Telephone</label>
                 <input style="width: 150px" id="Telephone" name="Telephone" maxlength="10" type="text" />
             </td>
         </tr>
         <tr>

             <td colspan="3" style="text-align: right">
                 <input type="button" id="btnCreateCustomer" class="ui-button-text" onclick="CreateCustomer()" value="Create"/>&nbsp;&nbsp;
                <input type="button" id="btnUpdateCustomer" class="ui-button-text" onclick="UpdateCustomer()" value="Update"/>&nbsp;&nbsp;
                     &nbsp;
 
                 <input type="button" id="btnCancel" onclick="ClosePopup()" class="ui-button-text" value="Cancel" name="button"/>
             </td>
         </tr>
         <tr>
             <td colspan="2" id="errorMsg" style="display:none"></td>
         </tr>
     </table>
