﻿@using System.Globalization
@{
    Model.Metadata.Wrappers.Clear();
    var buildShapes = Model.BuildShapes;
}
@if (buildShapes == null) {
    <p>@T("No activities.")</p>
} else {
    foreach (dynamic shape in buildShapes()) {
        var contentItem = shape.ContentItem;
        string title = contentItem.ActivityPart.Title;
        string url = contentItem.ActivityPart.Url;
        DateTime date = contentItem.ActivityPart.DateTimeStart != DateTime.MinValue ? contentItem.ActivityPart.DateTimeStart : contentItem.CommonPart.CreatedUtc;

        <div class="event-prev clearfix">
            <div class="event-prev-date">
                <p class="month">@date.ToString("MMM", new CultureInfo("en-US"))</p>
                <p class="day">@date.Day</p>
            </div>
            <div class="event-prev-content">
                <h4>
                    <a href="@url">@title</a>
                </h4>
                @if (date.Hour > 0) {
                    <p>
                        <strong>Time:</strong> @date.ToShortTimeString()
                    </p>
                }
            </div>
        </div>
    }
}