#btnCreate {
    margin:0px !important;
}
.fc-event[href],
.fc-event.fc-draggable {
	cursor:pointer; /* give events with links and draggable events a hand mouse pointer */
}
#btnCancel {
    margin:0px !important;
}
#calendar {
    font-size:14px !important
}
.fc-content-skeleton td {
    height : 30px !important;
}
.fc-title {
    font-size:14px !important
}
.fc-event-time{
   display : none !important;
}
.fc-time{
   display : none  !important;
}
body {
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
}
table {
    border-spacing : 4px;
}
.ui-jqgrid table {
    border-spacing : 0px;
}
select {
    height:25px;
	font-size: 10px !important;
}
.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

    #dialog-link span.ui-icon {
        margin: 0 5px 0 0;
        position: absolute;
        left: .2em;
        top: 50%;
        margin-top: -8px;
    }

#icons {
    margin: 0;
    padding: 0;
}

    #icons li {
        margin: 2px;
        position: relative;
        padding: 4px 0;
        cursor: pointer;
        float: left;
        list-style: none;
    }

    #icons span.ui-icon {
        float: left;
        margin: 0 4px;
    }

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}



#wrap {
    width: 1100px;
    margin: 0 auto;
}

#layout-footer-container-wrapper {
    background: #3985C1 !important;
}

#layout-navigation > div {
    background: #3985C1 !important;
    color: white !important;
}

#layout-navigation nav ul li {
    background: #3985C1 !important;
    color: white !important;
}

    #layout-navigation nav ul li a {
        color: white !important;
        font-size: small;
    }

.ui-widget-header {
    background: #066EB3 !important;
    color: #FBFAFA !important;
}

.ui-widget-content {
     /*border: 1px solid #1B1A1A !important;*/
}

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #72A6EB !important;
        color: white;
    }



.ui-button-icon-primary ui-icon ui-icon-closethick {
    background: #F6F8F9 !important;
}
.ui-icon ui-icon-plus,a {
    cursor:pointer;
}
#layout-footer-container-wrapper a{
    color:#F6F8F9 !important;
}
select {
    padding-bottom:0px !important;
    padding-top:0px !important;
    padding-left:0px !important;
    padding-right:0px !important; 

}

textarea {
    resize: none;
}
.zone-header {
    padding:0px;
}