<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Bankers Insurance E-Learn Portal">
<link rel="yandex-tableau-widget" href="/Themes/responsive-theme-for-developers-orchard-cms/img/favicons/yandex-browser-manifest.json">
<link rel="manifest" href="/Themes/responsive-theme-for-developers-orchard-cms/img/favicons/manifest.json">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#ffffff">
<meta name="application-name" content="Responsive Theme for Developers">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/Themes/responsive-theme-for-developers-orchard-cms/img/favicons/browserconfig.xml">
